body {
  width: 100%;
}

h1, h2 {
  font-family: "Arial"
}

h1 {
  margin: 0;
}

#loading {
  min-width: 480px;
  text-align: center;
  margin: 5% auto;
}

article {
  text-align: center;;
  min-width: 480px;
  height: 250px;
  margin: 0 auto;
  padding: 5%;
}

img {
  display: inline-block;
  max-width: 65%;
  max-height: 65%;
}

span {
  display: inline-block;
  vertical-align: middle;
  font-size: 400%;
}

input[type="text"] {
  position: relative;
  min-width: 260px;
  margin: 10px 12px 5px;
}

form {
  text-align: center;;
  min-width: 480px;
  height: 480px;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}
